@import "src/common/mixins/mixins";

.profile {
  @include bg(top, cover, no-repeat);
  width: 100%;
  height: 100%;

  .profileTitle{
    margin-bottom: 10px;
  }
  .profileBreadCrumbs{
    margin-bottom: 36px;
  }
  .profileMainInfoBlock{
    margin-bottom: 24px;
  }
}