@import "src/common/mixins/mixins";
@import "src/common/variables/variables";

.personalInfoWrapper {
  display: flex;
  justify-content: flex-end;

  .personInfo {
    padding: 16px 0;
    margin-right: 26px;
    display: flex;
    align-items: center;

    .personIcon {
      @include wh(56px, 36px);
      padding-right: 20px;
      border-right: 1px solid white;

      @media (max-width: 460px) {
        @include wh(34px, 24px);
        padding-right: 10px;
      }


      a {
        color: white;

        svg {
          @include wh(36px, 100%);
          @media (max-width: 460px) {
            @include wh(24px, 100%);
          }
        }
      }

    }

    .personBox {
      display: flex;
      align-items: center;

      .avatar {
        margin: 0 20px;

        @media (max-width: 460px) {
          margin: 0 10px;
        }
      }

      .personName {
        font-weight: $boldFont;
        color: white;
      }
    }
  }
}


@media (max-width: 600px) {

  .personalInfoWrapper {
    .personInfo {
      margin-right: 0;
    }
  }
  .personName {
    display: none;
  }
}

@media (max-width: 460px) {

}
